.header {
    background: linear-gradient(to left, rgba(97, 13, 13, 0.733), black);
    padding: 30px 10px;

    .header__container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            color: white;
            width: 60px;
        }
            .header__nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;

                .header__Link{
                    text-transform:  uppercase;
                    font-weight: 700;
                    color: whitesmoke;
                    text-decoration: none;
                    font-size: 17px;
                }
                .header__Link:hover {
                    color: orange;
                }

            }
        }
    }