.h2-Nosotros {
    background-color: black;
}

.bio {
    text-align: center;
    padding: 20px;
    background: radial-gradient(rgba(97, 13, 13, 0.493), rgba(0, 0, 0, 0.26));
    border-radius: 20px;
    height: 55vh;
    font-size: 16px;
}