header {
    background-color: aquamarine;
    padding: 30px 0;

    .header__container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__nav {
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

            .header__link {
                text-transform: uppercase;
                font-weight: 700;
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
    
}
.header__nav:hover{
    background-color: rgba(245, 245, 245, 0.362);
    border-radius: 5px;
}