.App {
  text-align: center;
  
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.0s linear;
  }
}

.App-header {
  background-color: #455e69;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(0px + 2vmin);
  color: white;
}

.App-link {
  color: orange;
}

.main{
  text-decoration: none;
}
.navBar{
  display: flex;
  flex-direction: row;
}
.navBar .navLink{
  color: white;
}
.navBar .navLink:hover{
  color: orange;
}
.image{
  width: 200px;
}
.card{
  display: grid;
  }
.containerProducto{
  flex-direction: row;
}
.desc{
  width: 300px;
  color: rgb(31, 28, 23);
  background-color: #c6e7f5;
  border-radius: 20px;
  padding: 20px 5px;
}
.precio{
  font-size: 20px;
}
.Link{
  color: orange;
  margin: 5px;
  text-decoration: none;
}
.Link:hover{
  color: #455e69;
  background-color: orange;
  border-radius: 5px;
}
.logo{
  width: 50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
